.Grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vmin;
}

.Grid .Grid__row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Grid .Grid__cell {
  border: 0.5vmin solid black;
  height: 11vmin;
  margin: 0 -0.5vmin -0.5vmin 0;
  width: 11vmin;
}

.Grid .Grid__cell.Grid__cell--black {
  background-color: #000;
}

.Grid .Grid__cell.Grid__cell--gray {
  background-color: #999;
}

.Grid .Grid__cell.Grid__cell--green {
  background-color: #0c0;
}

.Grid .Grid__cell.Grid__cell--red {
  background-color: #c00;
}

.Grid .Grid__cell.Grid__cell--white {
  background-color: #fff;
}
